doctype html
html(lang='en')
  include ../common/head.pug
  +head("Edit Lead")
  body
    form(action="/lead/"+lead.id+"/edit", method="POST")
      input(type="email", name="lead_email" value=lead.email placeholder="Enter your email address")
      button(type="submit") Save  
    include ../common/footer.pug
    +footer()
    